## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bi]n/
[Oo]bj/
[Log]/

## Visual Studio cache/options
.vs/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider/VSCode
.idea/
.vscode/
*.userprefs

## OS files
.DS_Store
Thumbs.db
